#artistPage {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--blue);
  height: 100vh;
justify-content: center;
}

h2 {
  display: block;
  text-transform: capitalize;

}

#artistCard {
  background-color: var(--white);
  width: 20rem; /* Set a fixed width for the card */
  height: 20rem; /* Set a fixed height for the card */
  display: flex;
  flex-direction: column; /* Change to column direction */
  padding: 2rem;
  margin: 1.5rem;
  margin-top: 4rem;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}

#artistBioMain {
  display: none;
  color: var(--black);
  font-size: 1rem;
}

#artistCard:hover {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: fit-content;
}

#artistCard:hover #artistBioMain {
  display: block;
}

#workImg {
  width: 100%; /* Adjust image width to fill the card */
  height: auto; /* Allow image height to adjust proportionally */
  max-height: 60%; /* Set a maximum height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin-bottom: 1rem; /* Add margin to the bottom of the image */
}

#artistLink {
  margin-top: auto; /* Push the link to the bottom of the card */
}

@media (max-width: 768px) {
  /* Adjust the styles for mobile devices */
  #artistPage{
    height: fit-content;
  }
  #artistCard {
    height: auto;
  }

  #workImg {
    max-height: none;
  }

  #artistLink {
    margin-top: 0;
  }

  #artistCard:hover {
    transform: none;
    box-shadow: none;
  }
}
