.rbc-calendar {
    width: 100%;
  }
  
  .rbc-event-content {
    font-size: 14px;
  }
  
  .rbc-time-view .rbc-time-slot {
    height: 50px;
  }
  .event-calendar-container {
    border: 1px solid black;
    height: 500px;
  }
  .event-calendar {
    height: 100%;
    font-size: 14px;
  }
  
  .event-calendar .rbc-time-view .rbc-time-gutter,
  .event-calendar .rbc-time-view .rbc-time-content {
    min-width: 80px;
  }
  