:root {
  --ochre: #CC7722;
  --blue: #51808F;
  --black: #272932;
  --white: #E7ECEF;


}
.container {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--black);
    
  }
  
.toggleContainer{
   margin-top: calc(.5*5rem);
}

  .toggleText{
    font-size: medium;
  }
  
.toggleBtn{
    background: linear-gradient(45deg,var(--blue), var(--blue), var(--white),var(--white));
    background-size: 200% 200%;
    background-position: top right;
    transition: all 0.5s ease-out;
    color: var(--black);
    border: .2px solid var(--blue);
}

  form {
    display: flex;
    flex-direction: column;
    position: relative;
  width: fit-content;
  }
  
  label {
    text-align: left;
  }
  
/* button {
    background-color: var(--ochre);
} */
button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
    background: linear-gradient(45deg,var(--ochre), var(--ochre), var(--white),var(--white));
    background-size: 200% 200%;
    background-position: top right;
    transition: all 0.5s ease-out;
    color: var(--black);
    border: .2px solid var(--ochre);
  }
 
  button:hover,
  .toggleBtn:hover {
    transform: scale(1.1);
    background-position: bottom left;
  }
  .toggleBtn:hover {
    color: var(--white);
  }
  
  #enterdiv{
    position: relative;
  }


  #enterBtn{
    inset:0;
    position: absolute;
    margin: auto;
    aspect-ratio: 3; 
    width: calc(1*5rem); 
  }


  @media screen and (max-width: 600px) {
    .container {
      width: 80%;
      margin: 0 auto;
      width: fit-content;
    }
  }
  