:root {
  --ochre: #CC7722;
  --blue: #51808F;
  --black: #272932;
  --white: #E7ECEF;


}
#landingPage {
  font-size: 40px;
  color: var(--ochre);
}

.temp{
  background-color: var(--white);
}


body {
  background-color: var(--black);
  color: var(--white);
  font-family: Arial, sans-serif;
}

h2 {
  color: var(--white);
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blue);
  border-radius: 10px;
  inset:0;
  position: absolute;
  aspect-ratio: 1;
  margin: auto;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

label {
  flex: 1;
  margin-right: 20px;
}

input, 
.DatePicker {
  flex: 2;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
}

/* DatePicker.css */
.DatePicker {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--black);
}



@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s linear;
}

.input-error {
  animation: blink 1s linear infinite;
  border-color: red;
}

/* Import the react-datepicker CSS file */
@import 'react-datepicker/dist/react-datepicker.css';

/* Add custom styles for the date selector popup */
.react-datepicker {
  font-family: Arial, sans-serif;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999; /* Ensure the popup appears on top of other elements */
}

.react-datepicker__header {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px 5px 0 0;
  text-align: center; /* Center align the month and year */
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  font-size: 18px;
  color: var(--black); /* Change arrow toggle button color to black */
  background-color: transparent; /* Remove background color for the arrows */
  border: none;
}

.react-datepicker__navigation--previous:hover,
.react-datepicker__navigation--next:hover {
  background-color: var(--black);
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  font-weight: bold;
  text-align: center;
}

.react-datepicker__month-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  justify-items: center;

}

.react-datepicker__month {
  margin: 10px;
  width: 280px; /* Adjust the width as needed */
}

.react-datepicker__week {
  display: flex;
  flex-wrap: wrap;

}

.react-datepicker__day {
  text-align: center;
  width: 100%;
}

.react-datepicker__input-container {
  display: block;
  text-align: center;
}

.react-datepicker__input-container input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
}


@keyframes blink {
  0%, 49% { opacity: 0; }
  50%, 100% { opacity: 1; }
}
