:root {
    --white: #E7ECEF;
    --black: #272932;
    --ochre: #CC7722;
    --blue: #51808F;
}
.label{
    text-align: left;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    
}

.form-title {
    width: 100%;
    font-size: 6.66vw;
    padding: 0;
}

.flex-row {
    width: 100%;
    font-size: 4vw;
}


#signupUsername {
    width: 50%;
}

#email {
    width: 50%;
}

#signupPwd {
    width: 50%;
}

.error-text {
    font-size: 5vw;
}

#btn-container {
    display: flex;
    align-items: center;
    justify-content: right;
}

#signup-btn {
    margin: 1rem 0;
    padding: 0;
    width: 50%;
    height: calc(6rem + 2.5vw);
    width: calc(6rem + 2.5vw);;
    font-size: 2vw;
}