#eventContainter{
position: relative;
}

.eventDetails{
  position: relative;
  align-content: center;
  background-color: var(--blue);
  inset: 0 ;
  margin: auto;
  width: 50%;
 
  
}
#paymentDiv{
  background-color: pink;
  position: relative;
  inset:0;
  margin: auto;
  width: 25%;
}

#eventTitle{
  color:var(--ochre);

}

#eventModel{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#eventStartTime{

}

#eventDescription{
color: blueviolet;
}

.venmo-button{
  color: blueviolet;
}


.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.button.disabled:hover {
  background-color: gray;
}

.button:hover {
  background-color: var(--ochre);
}

.email-input:invalid {
  border-color: red;
}

.email-input:invalid ~ .venmo-button .button {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}
