#eventContainter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.eventDetails {
  flex: 2;
  background-color: var(--ochre);
  color: var(--white);
}

#paymentDiv {
  flex: 1;
  background-color: var(--blue);
  padding: 20px;
  color: var(--white);
}

#topBanner {
  font-size: 2rem;
  background-color: var(--black);
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 2rem;
}


.emailInput{
  flex: 1;
  background-color: var(--black);
  display: block;
  margin-bottom: 1rem;
  color: var(--white);
 
}

#eventTitle {
  color: var(--white);
  font-size: 24px;
  text-align: center;
  font-size: 3rem;
}

#eventModel {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 10px;
}

#eventPrice {
  color: var(--white);
  margin-top: 10px;
  text-align: center;
}

#eventCountdown {
  color: var(--white);
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  font-size: 1.5rem;
}
#eventStartTime {
  color: var(--white);
  display: flex;
  align-items: flex-end;
  font-size: 3rem;
}

#eventDescription {
  color: var(--white);
  margin-top: 10px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.venmo-button {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--ochre);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.button.disabled:hover {
  background-color: gray;
}

.button:hover {
  background-color: var(--blue);
}

.email-input:invalid {
  border-color: red;
}

.email-input:invalid ~ .venmo-button .button {
  animation: shake 0.5s;
}

.getTicketButton {
  display: none;
  margin-top: 10px;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

@media (max-width: 768px) {
  #eventContainter {
    flex-direction: column;
    align-items: center;
  }

  .eventDetails {
    position: relative;
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
    overflow-y: auto;
    background-color: var(--black);
  }

  #paymentDiv {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  
  .getTicketButton {
    text-align: center;

    display: block;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #topBanner {
    flex-direction: column;
    text-align: center;
    background-color: var(--ochre);
  }

  #eventStartTime,
  #eventCountdown {
    align-items: center;

  }

  #eventStartTime {
    font-size: 3rem;
  }

  #eventCountdown {
    font-size: 1.2rem;
  }

}
