:root {
  --ochre: #CC7722;
  --blue: #51808F;
  --black: #272932;
  --white: #E7ECEF;
  --gray: #F0F0F0; /* Add a new variable for gray color */
  --future-blue: #E6F1F6; /* Add a new variable for future dates' blue background */
}

.rbc-calendar {
  width: 100%;
  color: var(--black);
  background-color: var(--white);
}


/* Style future dates */
.rbc-date-cell.rbc-future {
  background-color: black;

}

.rbc-now {
  background-color: var(--white);
}


.rbc-time-content {
  height: auto;
}

.rbc-event {
  background-color: var(--blue);
  color: var(--white);
  padding: 2px;
  font-size: 12px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family:monospace;
  

}

.rbc-event-content {
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rbc-event-content > div {
  margin-bottom: 4px;

}

.rbc-time-view .rbc-time-slot {
  height: 50px;
}

.event-calendar-container {
  border: 3px solid var(--ochre);
  height: 500px;
}

.event-calendar {
  height: 100%;
  font-size: 14px;
}

.event-calendar .rbc-time-view .rbc-time-gutter,
.event-calendar .rbc-time-view .rbc-time-content {
  min-width: 80px;
}

.rbc-event-content > div {
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .rbc-event-content {
    font-size: 12px;
  }
  
  .rbc-event {
    font-size: 10px;
  }
  
  .event-calendar-container {
    height: auto;
    max-height: 100%;
  }
}
