:root {
  --ochre: #CC7722;
  --blue: #51808F;
  --black: #272932;
  --white: #E7ECEF;


}


.logo-container {
    background-color: var(--litePink);
    border-radius: 4vw / 25%;
}

.header-logo {
    width: 50vw;
    position: relative;
    top: 0.7vw;
}

