:root {
  --ochre: #CC7722;
  --blue: #51808F;
  --black: #272932;
  --white: #E7ECEF;


}


.logout-btn {
    margin: 0.5rem auto;
    width: 30vw;
    position: relative;
    bottom: 1rem;
    font-size: calc(0.9rem + 0.75vw);
    color: var(--deepBlue);
    background-color: var(--litePink);
    transition: 0.5s;
}

.logout-btn:hover {
    color: var(--mikado);
    background-color: var(--deepBlue);
}