.navbar {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  height: 33vh;
}

.navbar-title {
  padding-left: 1rem;
  color: var(--white);
  text-align: center;
  position: relative;
  text-transform: capitalize;
  letter-spacing: calc(2*.2rem);
  /* Add this line */
  cursor: pointer;
}

#LogoSVG{
   width: 30%;
   border-radius: 100%;
   position: absolute;
   inset: 0;
   margin: auto; 
}

#navBtn {
  background-color: var(--black);
}

.navbar-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  position: absolute;
  top: 50%;
  right: 1%;
  width: 5%;
  transform: translateY(-50%);
  aspect-ratio: 1;
  transition: width 0.3s ease-in-out;
}

.navbar-menu.is-dropdown-open {
  width: 200px;
  /* Width for the menu button when the dropdown is open */
}

.navbar-menu-icon {
  width: 80%;
  height: 4px;
  background-color: var(--blue);
  margin: 8%;
  transition: background-color 0.3s ease-in-out;
  display: block;
  /* Change to display: block */
}

.navbar-menu:hover .navbar-menu-icon {
  background-color: var(--ochre);

}

.smallPercent {
  width: 33%;
}


.largePercent {
  width: 66%;
}

.verticalIcon {
  z-index: 100;
  background-color: var(--ochre);
  position: fixed;
  inset: 0;
  top: 40%;
  left: 40%;
  transform: rotate(90deg);
  width: 38%;
}




.navbar-dropdown {
  position: absolute;
  transform: translate(0, -20%);
  right: 1%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.navbar-dropdown-link {
  color: var(--black);
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
  text-transform: capitalize;
}

.navbar-dropdown-link:hover {
  background-color: var(--ochre);
  color: var(--white);
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
    height: 11rem;
  }

  .navbar-container {
    flex-direction: column;
    align-items: center;

  }

  .navbar-title {
    font-size: 1.5rem;
  }

  .navbar-links {
    width: 33vw;
    text-align: center;
    margin-top: 10px;
    
  }
  #LogoSVG{
   
    width: 40%;
    border-radius: 100%; 

 }

  .navbar-menu {
    right: 3%;
    width: 8%;
    aspect-ratio: 1;
    margin-bottom: 10px;
  }

  .navbar-menu-icon {
    width: 90%;
    height: 3px;
    margin: 5% 0;
  }

  .navbar-dropdown {
    position: relative;
    transform: translate(0, 0);
    right: auto;
    width: 100%;
    padding: 0;
    box-shadow: none;
  }

  .navbar-dropdown-link {
    padding: 1px 0;
    border: 1px solid var(--blue);
  }

  .smallPercent {
    width: 33%;
  }


  .largePercent {
    width: 66%;
  }

  .verticalIcon {
    z-index: 100;
    background-color: var(--ochre);
    position: fixed;
    inset: 0;
    top: 40%;
    left: 40%;
    transform: rotate(90deg);
    width: 38%;
  }

  /* Hide the dropdown menu when the section is clicked */
  .navbar-dropdown.is-open {
    display: none;
  }

  .navbar-dropdown {
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    transform: none;
    box-shadow: none;
    z-index: 1000;
    background-color: var(--white);
    transition: none;
  }

  .navbar-dropdown-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
  }

}

@media (max-width: 493px) {
#LogoSVG{
   
  width: 60%;
  border-radius: 100%; 

}
}